<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <section class="footer">

    <div class="box-container">

        <div class="box">
            <h3> groco <i class="fas fa-shopping-basket"></i> </h3>
            <p style="    text-align: center;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam, saepe.</p>
            <div style="    text-align: center;" class="share">
                <a style="color: rgb(244, 12, 12);" href="#" class="fab fa-facebook-f"></a>
                <a style="color: rgb(244, 12, 12);"href="#" class="fab fa-twitter"></a>
                <a style="color: rgb(244, 12, 12);"href="#" class="fab fa-instagram"></a>
                <a style="color: rgb(244, 12, 12);"href="#" class="fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a  style="text-decoration: none;" href="#" class="links"> <i style="color: rgb(244, 12, 12); "class="fas fa-phone"></i> +12345678910</a>
            <a style="text-decoration: none;" href="#" class="links"> <i style="color: rgb(244, 12, 12);" class="fas fa-phone"></i> +12345678910 </a>
            <a style="text-decoration: none;" href="#" class="links"> <i style="color: rgb(244, 12, 12);" class="fas fa-envelope"></i> saikat23mondal@gmail.com </a>
            <a  style="text-decoration: none;" href="#" class="links"> <i style="color: rgb(244, 12, 12);" class="fas fa-map-marker-alt"></i> kolkata, india - 700079 </a>
        </div>
    </div>
    <div class="credit" style="background-color:  rgb(252, 96, 96); color: black;"> created by <span> Saikat Mondal </span> | all rights reserved </div>
</section>
</body>
</html>