.card{
   margin-top: 10px;
   border: none;
   width: 500px;
   padding: 40px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background: rgb(92, 162, 212);
   background: linear-gradient(90deg,rgb(43, 132, 214) 0% ,rgb(32, 98, 136) 100%); 
}
.card h1,h6{
    color: #fff;

}
label{
    color: #fff;
}
.form-text{
    color: #fff;
}
