<!-- <nav class="navbar navbar-expand-lg " style=" background: black">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="../../../assets/logo.png"
          alt="Licious"
          width="200"
          height="64"
          class="d-inline-block align-text-top"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
          <div class="mx-4">
            <button  routerLink="/login" class="btn btn-danger mx-2 " data-bs-toggle="modal" data-bs-target="#LoginModal">&nbsp;
  
              Login
            </button>
          <button  routerLink = "/signup"class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#SignupModal">
              Signup
            </button>
          </div>
  
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Contact-us
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#"> Phone-no: +87237171837</a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#"
                  >Email-id: saikat23mondal@gmail.com</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav> -->


  <nav class="navbar navbar-light " style=" background: linear-gradient(-45deg,#57cfb0,#2ab5d3);"> 
    <div class="container-fluid">
        <h1 style="color: aliceblue;">Home Page</h1>
        <div class="d-flex">
            <button routerLink="/login" style="border-radius:5px ; background: linear-gradient(-45deg,#04b10c,#2ab5d3);"  type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
            <button routerLink="/signup" style="border-radius:5px; background: linear-gradient(-45deg,#f14612,#e0508c);" class="btn-danger mx-4">Signup</button>
            <!-- <button routerLink="/product" style="border-radius:5px ;" class="btn-success">Product Page</button> -->
        </div>
    </div>
</nav>
  
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
  
        <img src="https://images.hdqwalls.com/download/cyberpunk-2077-4k-2020-game-jd-1920x1080.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>:) Delightful Fishes In Your Areas</h5>
         <!-- // https://wallpaperaccess.com/full/1462795.jpg -->
          <p>......!Fresh Fishes Of Different Varieties For Easy Cooking!......</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://wallpapercave.com/wp/wp5029421.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="color:rgb(252, 249, 249);" >:) Delightful Eggs In Your Areas</h5>
          <p style="color:rgb(249, 245, 245);">......!Fresh Eggs Of Different Varieties For Easy Cooking!......</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://wallpaperaccess.com/full/676037.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>:) Delightful Meat In Your Areas</h5>
          <p>......!Fresh Chicken/Beef Cuts For Easy Cooking!......</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>